/* h1 in header */
h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
    display: flex;
    justify-content: space-around;
}
.h1inheader{
    margin-top: 49px;
    margin-bottom: 42px;
}

.divpInHeader{
    display: flex;
    align-items: center;
    margin-left: 28px;
}

/* header nav bar */


element.style {
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.nav-link{
    margin-left: 35px;
}

#btnConnexion {
    width: 98px;
    height: 35px;
    background: grey;
    color: #fff;
    border: none;
    margin-left: 39px;
}
/* header nav bar  */
.borderback{
    border-bottom: black solid 4px;
    background-color: grey;
    z-index: 2;
    background-color: rgb(0, 0, 0, );
    background-color: rgba(0, 0, 0, 0.3)

}
/* btns Mode nuit  */
.btnModeJour{
    background-color: #fff;
    height: 16px;
    width: 17px;
    border-radius: 3px;
}
.btnModeNui1{
    background-color: black;
    border: none;
    height: 16px;
    width: 17px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 5px;
}


.modeNuit{
    background-color: #2d3436;
    color: #fff ;
}
.modeJour{
    background-color: #fff;
}


/* section modal1 */
.sectionmodal1, .sectionmodal2 {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, );
    background-color: rgba(0, 0, 0, 0.3);

    
}
.divGmodal1 {
    width: 35%;
    height: 77%;
    display: block;
    position: fixed;
    left: 30%;
    top: 21%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.divGmodal {
    width: 32%;
    height: 57%;
    display: block;
    position: fixed;
    left: 32%;
    top: 30%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.parModal{
    z-index: 2;
    background-color: rgb(0, 0, 0, );
    background-color: rgba(0, 0, 0, 0.3);
}
.sectionmodal2{
    top: 2%;
}

.dNone{
    display: none;
}

.divModal2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p1InModal {
    margin-bottom: 72px;
    margin-top: 7px;
}

.btn1inModal1{
    border: none;
    margin-top: 5px;
    color: #fff;
    background-color: #2980b9;
    width: 121px;
    height: 43px;
    
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .h1inheader {
    margin-top: 49px;
    margin-bottom: 42px;
    font-size: 49px;
    margin-left: -131px;
    }
    .buttonColapse1{
        background-color: #dd4545;

    }
    .divInSection1 {
        margin-right: 0;
        display: flex;
        margin-left: 31px !important;
        align-items: center;
        flex-direction: column;
        width: 83% !important;
    }
    .imgInSection2 {
        width: 355px;
        margin-right: 0px !important;
    }
    
    
}

/* section1 */

.section1{
    background-color: #f3f3f3;
    margin-top: 25px;
    display: flex;
}

.h1Shop {
    color: #dd4545;
    display: block;
    padding-top: 60px;
}

#pInSection1{
    width: 566px;
    color: black !important;
}

#btnSalItems{
    margin-bottom: 50px;
}
.imgInSection1{
    width: 500px;
}
.imgInSection2{
    width: 355px;
    margin-right: 170px;
    
}

.divInSection1{
    margin-left: 112px;
}


#btnSalItems{
    background-color: #dd4545;
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 150px;
    height: 40px;
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .section1{
        width: 100%;
        background-color: #f3f3f3;
        margin-top: 25px;
        display: flex;
    }
    .divGeneralInSection1 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .divInSection1 {
        margin-right: 0;
        display: flex;
        margin-left: 31px !important;
        align-items: center;
        flex-direction: column;
    }
    #pInSection1 {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 29px !important;
        width: 395px !important;
        text-align: center !important;
    }
    .imgInSection1 {
        width: 352px;
    }
    .imgcard1 {
        background-image: url(../img/services/service-1.jpg);
        background-size: 100%;
        width: 345px !important;
        margin-right: 58px;
        margin-left: -54px;
    }
    .imgcard2 {
        background-image: url(../img/services/service-1.jpg);
        background-size: 100%;
        width: 345px !important;
        margin-right: 58px;
        margin-left: -54px;
    }
    .imgcard3 {
        background-image: url(../img/services/service-1.jpg);
        background-size: 100%;
        width: 345px !important;
        margin-right: 58px;
        margin-left: -54px;
    }
    /* ____________________________________________________________ */

}

/* _____________________________________ */

/* section2 */
.card1 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
/* card1 */
.imgcard1 {
    background-image: url('../img/services/service-1.jpg');
    background-size: 100%;
    width: 380px;
    margin-right: 5px;
}
.living{
    position: relative;
}
.living::after{
    content: '';
    position: absolute;
    background-color: white;
    width: 160%;
    bottom: -10px;
    transition: 0.5s;
    left: 50%;
    height: 3px;
    transform: translateX(-50%);
    transition-timing-function: linear;
}
.imgcard1:hover .living::after{
    width: 70%;}

/* card2 */

.imgcard2 {
    background-image: url('../img/services/service-2.jpg'); 
    background-size: 100%;
    width: 380px;
    margin-right: 5px;
    
}


.living{
    position: relative;
}
.living::after{
    
    content: '';
    position: absolute;
    background-color: white;
    width: 160%;
    bottom: -10px;
    transition: 0.5s;
    left: 50%;
    height: 3px;
    transform: translateX(-50%);
    transition-timing-function: linear;
}
.imgcard2:hover .living::after{
    width: 70%;
    
}

/* cards3 */
.imgcard3 {
    background-image: url('../img/services/slider-3.jpg');
    background-size: 100%;
    width: 380px;
    margin-right: 5px;
}
.living{
    position: relative;
}
.living::after{
    content: '';
    position: absolute;
    background-color: white;
    width: 160%;
    bottom: -10px;
    transition: 0.5s;
    left: 50%;
    height: 3px;
    transform: translateX(-50%);
    transition-timing-function: linear;
}
.imgcard3:hover .living::after{
    width: 70%;}
/* _______________________________________________________________ */
.living {
    color: white;
    margin-top: 53px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: flex;
    margin-bottom: -16px;
    margin-bottom: 37px;
}


@media screen and (min-width: 375px) and (max-width: 425px ) {
    .divSec2G {
        margin: 0;
        display: flex !important;
        flex-direction: column;
        margin-left: 12px !important;
        width: 409px !important;
    }
    .div1InSection3 {
        margin-left: -2% !important;
        display: flex;
        flex-direction: column;
    }
}
/* section3 */
.div1InSection3 {
    margin-left: 19%;
}

.h3InSec3 {
    margin-left: 43%;
    margin-top: 30px;
    margin-bottom: 38px;
}

.card-body{
    text-align: center;
}

.rond{
    color: #fff;
    width: 65px;
    height: 65px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardSpace{
    margin-left: 30px;
}
.div1InSection23{
    margin: 0;
}
.div1InSection13{
    margin: 0;
}

.card-size {
    width: 300px;
    transition: 0.5s;
}
.card-size:hover {
    transform:scale(1.15);
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .div1InSection3 {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    .card-size {
        margin: 0;
        width: 130% !important;
    }
    
}


/* section4 */

.section4{
    background-image: url('../img/cta-bg.jpg');
    background-size: 100%;
}
.divSec4G {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19% !important;
    /* padding-bottom: 4% !important; */
    padding-bottom: 169px;
}
.h2InSection4 {
    color: #fff;
    text-align: center;
}
.btnInSection4 {
    background-color: #dd4545;
    border: none;
    border-radius: 6px;
    height: 36px;
    width: 118px;
    color: #fff;
}

/* section5 */


/* carousel */

.h1InSection5 {
    margin-top: 55px;
    margin-bottom: 42px;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.gdivInSec5 {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 75em;
}

.gdivInSec5 > .G2divInSection5 {
  display: flex;
  grid-gap: 1em;
  transition:  1s ;
}



.btnCarou > button {
    background: #fff;
    border: 1px solid black;
  cursor: pointer;
  margin: 0 0.600em;
  border-radius: 100%;
  height: 1em;
  width: 1em;
}

.btnCarou {
  margin-top: 0.5em;
}


  
/* section6 */


.divInSec6{
    background-color: #f3f2f3;
    margin-left: 20px;
    transition: 0.7s;
    color: black;
}
.divInSec6:hover{
    background-color: #dd4545;
    color: #fff;
}

.btn1InSec6 {
    border: none;
    background-color: #343a40;
    color: #fff;
    margin-bottom: -17px;
    width: 115px;
    height: 36px;
    border-radius: 4px;
}

.divInSec6:hover .btn1InSec6{
    background-color: #fff;
    color: black !important;
}

.mdivTInSec6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
}

.pInSection6{
    text-align: center;

}
.divGInSec6{
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 30px;
}

.iconInSec5{
    font-size: 28px;
    margin-bottom: 40px;
}

/* footer */
footer{
    background-color: #343a40;
    height: 350px;
    margin-top: 36px;
}

.divGInFooter {
    display: flex;
    color: #fff;
    margin-left: 100px;
    padding-top: 70px;
}
.mDivInFooter{
    margin-left: 50px;
}

.h5InFooter{
    margin-bottom: 30px;
}

.p1InFooter{
    width: 339px;
}

.divTagsInFooter{
    width: 64% !important;
}

.tags{
    color: #fff;
    background-color: #343a40;
    border: solid 1px #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 6px;
    
}
a:hover {
    color: #fff !important;
}
.ulInFooter{
    width: 254px;
    padding-left: 0px;
}

li{
    list-style: none;
}