/* h1 in header */
h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
    display: flex;
    justify-content: space-around;
}
.h1inheader{
    margin-top: 49px;
    margin-bottom: 42px;
}

#btnModeJour{
    background-color: #fff;
    height: 16px;
    width: 17px;
    border-radius: 3px;
}
#btnModeNuit{
    background-color: black;
    border: none;
    height: 16px;
    width: 17px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 5px;
}
.divpInHeader{
    display: flex;
    align-items: center;
    margin-left: 28px;
}

/* header nav bar */


element.style {
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {

    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.nav-link{
    margin-left: 35px;
}

#btnConnexion {
    width: 98px;
    height: 35px;
    background: grey;
    color: #fff;
    border: none;
    margin-left: 39px;
}
/* header nav bar  */
.borderback{
    border-bottom: black solid 4px;
}
/* btns Mode nuit  */

#btnModeJour{
    background-color: #fff;
}
#btnModeNuit{
    background-color: black;
}

.modeNuit{
    background-color: #2d3436;
}
.modeJour{
    background-color: #fff;
}


/* section modal1 */
.sectionmodal1, .sectionmodal2 {
    position: fixed;
    background: 0,0,0,7;
    z-index: 1;
    top: 10;
    left: 37%;
    display: block;
    background-color: #ecf0f1;
    width: 400px;
    
}
.sectionmodal2{
    top: 2%;
}

.dNone{
    display: none;
}

.divModal2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h1InModal1 {
    margin-top: 70px;
}

.p1InModal {
    margin-bottom: 72px;
    margin-top: 7px;
}

.btn1inModal1{
    border: none;
    margin-top: 5px;
    color: #fff;
    background-color: #2980b9;
    width: 121px;
    height: 43px;
    
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .h1inheader {
        margin-top: 49px;
        margin-bottom: 42px;
        font-size: 79px;
        margin-left: 33px;
    }
    .buttonColapse1{
        background-color: #dd4545;

    }
    
}

/* section1 */

.section1{
    background-color: #f3f3f3;
    margin-top: 25px;
    display: flex;
}

.h1Shop {
    color: #dd4545;
    display: block;
    padding-top: 60px;
}

.pInSection1{
    width: 566px;
}

#btnSalItems{
    margin-bottom: 50px;
}
.imgInSection1{
    width: 500px;
}
.imgInSection2{
    width: 355px;
    margin-right: 170px;
    
}

.divInSection1{
    margin-left: 112px;
}


#btnSalItems{
    background-color: #dd4545;
    border: none;
    border-radius: 50px;
    color: #fff;
    width: 150px;
    height: 40px;
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .section1{
        width: 100%;
        background-color: #f3f3f3;
        margin-top: 25px;
        display: flex;
    }
    .divGeneralInSection1 {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .divInSection1 {
        margin-right: 0;
        display: flex;
        margin-left: 31px !important;
        align-items: center;
        flex-direction: column;
    }
    .pInSection1 {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
        font-size: 29px !important;
        width: 395px !important;
        text-align: center !important;
    }
    .imgInSection1 {
        width: 352px;
    }
}

/* _____________________________________ */

/* section2 */
.card1 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.imgcard1 {
    background-image: url('../img/services/service-1.jpg');
    background-size: 100%;
    -webkit-filter: grayscale(0);
    width: 380px;
    filter: grayscale(0);
}

.imgcard1:hover {
    z-index: 1;
}
.imgcard1:hover p {
    border-bottom: white solid 1px;
}

.imgcard2 {
    background-image: url('../img/services/service-2.jpg'); 
    background-size: 100%;
    width: 380px;
    margin-right: 5px;
}

.imgcard2:hover {
    z-index: 1;
}
.imgcard2:hover p {
    border-bottom: white solid 1px;
}

.imgcard3 {
    background-image: url('../img/services/slider-3.jpg');
    background-size: 100%;
    width: 380px;
    margin-right: 5px;
}

.imgcard3:hover {
    z-index: 5;
}
.imgcard3:hover p {
    border-bottom: white solid 1px;
}
.living {
    color: white;
    margin-top: 125px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    display: flex;
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .divSec2G {
        margin: 0;
        display: flex !important;
        flex-direction: column;
        margin-left: 12px !important;
        width: 409px !important;
    }
}
/* section3 */
.div1InSection3 {
    margin-left: 19%;
}

.h3InSec3 {
    margin-left: 43%;
    margin-top: 30px;
    margin-bottom: 38px;
}

.rond{
    color: #fff;
    width: 65px;
    height: 65px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cardSpace{
    margin-left: 30px;
}
.div1InSection23{
    margin: 0;
}
.div1InSection13{
    margin: 0;
}

.card-size {
    width: 300px;
    transition: 0.5s;
}
.card-size:hover {
    transform:scale(1.15);
}

@media screen and (min-width: 375px) and (max-width: 425px ) {
    .div1InSection3 {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }
    .card-size {
        margin: 0;
        width: 130% !important;
    }
}


/* section4 */

.section4{
    background-image: url('../img/cta-bg.jpg');
    background-size: 100%;
}
.divSec4G {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 15%;
}
.h2InSection4 {
    color: #fff;
    text-align: center;
}
.btnInSection4 {
    background-color: #dd4545;
    border: none;
    border-radius: 6px;
    height: 36px;
    width: 118px;
    color: #fff;
}
